In [20]:
nama = "Titan Bagus Br."
nim  = "19.12.1158"
usia = 20

In [21]:
print('Hai, nama saya '+nama)
print('Saya berumur',usia)
print('dan NIM saya adalah '+nim)

Hai, nama saya Titan Bagus Br.
Saya berumur 20
dan NIM saya adalah 19.12.1158

In [22]:
#data type
print(type(nama))
print(type(nim))
print(type(usia))

<class 'str'>
<class 'str'>
<class 'int'>

In [23]:
x = 3
y = 4

print(x|y)

7